<div class="container-for-article">
    <header>
        <h2 class="page-title block">Pomyślnie wylogowano</h2>
    </header>

    <div class="text-center text-lg font-bold hover:text-pink-400">{{>go-home}}</div>
</div>