<div class="container-for-article">
    <h2 class="page-title">Czy wylogować użytkownika?</h2>

        <form action="/session?_method=DELETE" method="POST">
            <button class= "mx-auto lg-block-actions-btn hover:font-normal">Wyloguj się</button>
        </form>


</div>