<div class="pt-2 text-sm md:text-base xl:text-lg">
  <div class="block">
    <div class="flex justify-center pb-1">
        {{> icons/pin-svg}}
      <span class="inline-block font-bold">ul. 1 Maja 3A, 44-330, Jastrzębie-Zdrój</span>
    </div>

    <div class="flex justify-center items-center py-1">
        {{> icons/mail-svg}}
      <a href="mailto:poczta@pp23.jastrzebie.pl" class=" hover:text-pink-400 inline-block font-bold">poczta@pp23.jastrzebie.pl</a>
    </div>

    <div class="flex justify-center pt-1">
        {{> icons/tel-svg}}
      <a href="tel:324762348" class="inline-block font-bold hover:text-pink-400">32 476 23 48</a>
    </div>

    <div class="flex justify-center pt-2">
      <a href="https://www.facebook.com/people/Publiczne-Przedszkole-Nr-23-w-Jastrz%C4%99biu-Zdroju/100063667836211/">
        <img src="/img/f_logo_RGB-Blue_58.png" class="w-5 grayscale hover:grayscale-0" alt="Facebook">
      </a>
    </div>

  </div>
</div>