<div
  id='privacy-policy-container'
  class='hidden fixed right-0 left-0 bottom-0 border-t-2 bg-white shadow-xl py-4 px-2 xl:text-lg'
>
  <p class='block mx-auto items-center text-center pb-4'>
    Ta strona korzysta z plików cookies zgodnie z
    <a
      class='underline hover:text-secondary-focus'
      href='/ochrona-danych-osobowych'
    >
      Polityką Prywatności</a>. Możesz określić warunki przechowywania lub
    dostępu mechanizmu cookie w Twojej przeglądarce.
  </p>

  <div class='flex justify-center'>
    <button id='privacy-policy-btn' class='actions-btn no-animation'>
      Rozumiem
    </button>
  </div>
</div>

<script src='/scripts/privacy-policy.js'></script>