<!doctype html>
<html lang="pl" class="text-[200%]" data-theme="main">
<script src="/scripts/fast-theme-loader.js"></script>
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Publiczne Przedszkole Nr 23 w Jastrzębiu-Zdroju</title>

  <link rel="stylesheet" href="/styles/style.css">
</head>

<body class="relative bg-base-100 min-h-screen flex flex-col">

{{> layout/header}}

<main class="2xl:mt-[5rem] flex-1">
  {{{body}}}
</main>

{{> layout/footer}}
{{> privacy-policy}}

<script src="/scripts/flowbite.min.js"></script>
</body>
</html>