<div class="hero min-h-screen overflow-y-auto" style="background-image: url(/img/hero.jpg);">
  <div class="hero-overlay bg-opacity-20"></div>
  <div class="hero-content text-center text-white break-words">
    <div class="max-w-md text-info">
      <h1 class="hero-title break-words">ZAPRASZAMY</h1>
      <p class="py-6 text-xl">Lorem ipsum dolor sit amet!</p>
    </div>
  </div>
</div>