{{#with whyUs}}
  <div class="hero min-h-screen bg-base-100 overflow-y-auto">
    <div class="hero-content flex-col-reverse lg:flex-row-reverse">

      {{#with img}}
      <img src="{{this.src}}" alt="{{this.alt}}" class="max-w-screen lg:max-w-[20rem] rounded-full shadow-lg" />
      {{/with}}

      <div>
        <h2 class="hero-title">{{this.h2}}</h2>
        <p class="py-6 pr-6 text-justify lg:text-left max-w-screen break-words text-lg">{{this.paragraph}}</p>
      </div>
    </div>
  </div>
{{/with}}