<div class="all-photos-container">
  {{#each this.photos}}
    <div class="photo-card one-photo">
      <img
        class="photo-img image"
        src="/img/upload//{{this.fileName}}"
        alt="Zdjęcie z albumu {{../this.title}}"
      >

      <div>
        <form action="/photo/{{this.fileName}}/{{../this.id}}?_method=DELETE" method="POST">
          <div class="dropdown dropdown-top">
            <label tabindex="0" class="btn btn-ghost border-2 m-1">Usuń zdjęcie</label>
            <ul tabindex="0" class="dropdown-content menu z-50 p-2 shadow-md bg-base-100 rounded-box w-52">
              <li>
                <button>Potwierdź usunięcie</button>
              </li>
            </ul>
          </div>
        </form>
      </div>
    </div>
  {{/each}}
</div>