<div id="slider-container"
     class="hidden z-50 top-0 left-0 right-0 bottom-0 fixed bg-black overflow-auto text-gray-200 h-screen block">

  <div id="slider-menu"
       class="flex w-full justify-between px-4 fixed top-0 left-0 my-1">
    <div
      id="slider-title"
      class="inline-block text-lg rounded border-[1px] border-gray-600 md:border-transparent hover:border-white bg-black bg-opacity-60 transition ease-in-out duration-1000 inline-block h-fit break-words w-auto max-w-[50%] leading-none md:leading-normal"
    >
    </div>

    <div class="mt-1">
      {{> album/prev-photo-btn}}
      {{> album/next-photo-btn}}
      {{> album/close-gallery-btn}}
    </div>
  </div>

  <div id="slider-photo" class="flex items-center justify-center h-full"></div>

</div>