<div class="container-for-article">
  <h1 class="page-title">Czy wylogować użytkownika?</h1>
  <div class="flex justify-center">
  <form action="/auth/logout?_method=DELETE" method="POST">
    <button class="actions-btn">Wyloguj się</button>
  </form>
  <a href="/dashboard" class="ghost-actions-btn">Anuluj</a>
  </div>
</div>