<article class="container-for-article">
  <header>
    {{> breadcrumbs routeUrl="/dashboard" routeName="Panel administracyjny"}}
    <h1 class="page-title">Panel administracyjny</h1>
  </header>
  <div class="actions-container">
    <div class="p-6 rounded-xl border-[1px] shadow-md">
      <a
        class="lg-block-actions-btn w-full mb-2"
        href="/aktualnosci">
        Edytuj aktualności
      </a>
      <a
        class="lg-block-actions-btn w-full mb-2"
        href="/album">
        Edytuj album fotograficzny
      </a>
      <a href="auth/logout"
         class="lg-block-actions-btn w-full"
      >Wyloguj się
      </a>
    </div>
  </div>
</article>