<article class="container-for-article">
  <header>
    <h2 class="page-title">Panel logowania</h2>
  </header>

  <div class="actions-container">
    <div class=" p-6 rounded-xl border-[1px] shadow-md ">

      <form action="/auth/login" method="POST">
        <div>
          <label>
            <input
              placeholder="Login"
              type="text"
              name="email"
              required
              class="text-input p-1 text-xl mb-2"
            >
          </label>
        </div>
        <div>
          <label>
            <input
              placeholder="Hasło"
              type="password"
              name="pwd"
              required
              class="text-input p-1 text-xl mb-2"
            >
          </label>
        </div>
        <div>
          <button type="submit"
                  class="lg-block-actions-btn w-full">
            Zaloguj
          </button>
        </div>
      </form>

      {{#if error}}
        <div class="pt-4 text-secondary-focus text-sm text-center">{{error}}</div>
      {{/if}}

    </div>
  </div>

</article>