<button id="zoom-out-btn" class="h-5 w-5" title="Zmniejsz rozmiar tekstu">{{> icons/zoom-out-svg}}</button>
<button id="zoom-in-btn" class="h-5 w-5" title="Zwiększ rozmiar tekstu">{{> icons/zoom-in-svg}}</button>
<button id="contrast-btn" class="h-5 w-5" title="Wysoki kontrast">{{> icons/contrast-svg}}</button>

<script src="/scripts/accesibility.js"></script>