<li class="hidden md:block text-secondary-focus">
  <button
    id="dropdownNavbarLink"
    data-dropdown-toggle="dropdownNavbar"
    class="flex items-center justify-between btn btn-ghost"
  >
    Menu
    <span class="w-6 h-6 ml-1">{{> icons/expand-svg}}</span>
  </button>

  <div id="dropdownNavbar"
       class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow-lg w-52"
  >
    <ul class="py-2 text-sm" aria-labelledby="dropdownLargeButton">
      <li>
        <a href="/" class="desktop-menu-item">Strona
          główna</a>
      </li>
      <li>
        <a href="/aktualnosci"
           class="desktop-menu-item">Aktualności</a>
      </li>
      <li>
        <a href="/pracownicy-przedszkola"
           class="desktop-menu-item">Pracownicy
          przedszkola</a>
      </li>

      <li>
        <a href="/grupy-w-przedszkolu"
           class="desktop-menu-item">Grupy w
          przedszkolu</a>
      </li>

      <li>
        <a href="/realizowane-programy-certyfikaty"
           class="desktop-menu-item">Realizowane
          programy, certyfikaty</a>
      </li>
      <li>
        <a href="/organizacja-pracy"
           class="desktop-menu-item">Organizacja
          pracy</a>
      </li>
      <li>
        <a href="/album" class="desktop-menu-item">Album
          fotograficzny</a>
      </li>

    </ul>
    {{#unless userLoggedIn}}
      <div class="py-1">
        <a href="/auth/login"
           class="desktop-menu-item">Logowanie</a>
      </div>
    {{/unless}}
  </div>
</li>