<a class="skip-to-content" href='#navigation'>Przejdź do menu głównego</a>
<a class="skip-to-content" href='#main'>Przejdź do zawartości</a>
<a class="skip-to-content" href='#footer'>Przejdź do stopki</a>