{{#with content}}
  <article class="container-for-article">
    <header>

      {{> breadcrumbs
        routeUrl=this.breadcrumbs.routeUrl
        routeName=this.breadcrumbs.routeName
      }}

      <h1 class="page-title">{{this.h1}}</h1>
    </header>

    {{> contact-details }}

      <iframe
        aria-label="Położenie przedszkola na mapie"
        class="w-full"
        src="{{this.mapSrc}}"
        width="600"
        height="450"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade">
      </iframe>

  </article>
{{/with}}