{{#with content}}
  <article class="container-for-article">
    <header>

      {{> breadcrumbs
        routeUrl=this.breadcrumbs.routeUrl
        routeName=this.breadcrumbs.routeName
      }}

      <h1 class="page-title">{{this.h1}}</h1>
    </header>

    {{#each this.sections}}
    <section class="one-article">
      <h2 class="text-xl md:text-2xl pb-4 font-semibold mx-auto w-fit">{{this.title}}</h2>
      <ul class="mx-auto w-fit">
        {{#each this.mainListItems}}
        <li>{{this.text}}
         {{#if this.smallListItems}}
          <ul class="ml-10 list-disc py-2">
            {{#each this.smallListItems}}
            <li>{{this}}</li>
            {{/each}}
          </ul>
         {{/if}}
        </li>
        {{/each}}
      </ul>
    </section>
    {{/each}}

  </article>
{{/with}}