<article class="container-for-article">
  <header>
    <h2 class="page-title">Regulamin i procedury</h2>
  </header>

  <div class="one-article">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus ad adipisci consectetur, dignissimos
      distinctio doloremque eaque error harum illum incidunt ipsum minima natus pariatur quibusdam, tempore tenetur
      ullam vel?</p>
    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque dolore enim eveniet expedita facilis harum hic labore, quasi ratione veniam. Consectetur eos eum illo incidunt nisi optio placeat provident ratione.</span><span>A accusamus, architecto culpa doloribus enim ex harum, hic incidunt laboriosam magni non officiis sed tempore. Accusantium asperiores assumenda beatae commodi consequuntur et iusto libero, molestias quae recusandae temporibus veniam?</span><span>Accusamus alias aut blanditiis culpa cumque dicta doloremque dolorum exercitationem explicabo fugiat hic illum iste iure laborum minima neque, nisi placeat possimus praesentium quod, recusandae soluta tempora tenetur ut vel. <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aperiam, asperiores atque debitis deserunt dignissimos, eaque enim, facilis illum iusto modi nihil numquam odio placeat porro quisquam quos reprehenderit sunt!</span><span>Adipisci culpa cum deleniti dolorum eos excepturi expedita facilis illum laborum, maxime minima nemo nisi obcaecati officiis omnis placeat provident reiciendis repellendus sequi sunt totam ullam velit. Amet, culpa ducimus!</span></span>
    </p>
  </div>
</article>