{{#with content}}
  <article class="container-for-article">
    <header>
      {{> breadcrumbs
        routeUrl=this.breadcrumbs.routeUrl
        routeName=this.breadcrumbs.routeName
      }}

      <h1 class="page-title">{{this.h1}}</h1>
    </header>

    <section class="one-article mx-auto w-fit">
      <ul class="mx-auto w-fit list-disc">
        {{#each this.sites}}
          <li class="py-1">
            <a href="{{this.url}}" class="hover:underline hover:text-secondary-focus">{{this.name}}</a>
          </li>
        {{/each}}
      </ul>
    </section>

  </article>
{{/with}}