<article class="container-for-article">

  {{#with news}}
    <header class="pb-10">

      {{> breadcrumbs
        routeUrl="/aktualnosci"
        routeName="Aktualności"
        subpageUrl=this.id
        subpageName=this.title
      }}

      <h1 class="post-title">{{this.title}}</h1>
      <p class="text-center py-2">Data: {{this.createdAt}}</p>

      {{#if ../userLoggedIn}}
        {{> edit-post this}}
      {{/if}}
    </header>
    <section class="text-xl whitespace-pre-wrap break-all flex justify-center">
      <span>{{this.article}}</span>
    </section>
  {{/with}}

  <div class="flex justify-center">
    <a href="/aktualnosci" class="text-center semibold-link-with-hover mt-8 hover:underline">Powrót do aktualności</a>
  </div>

</article>